<div ng-app="app">

  <div ng-controller="messageCtrl">
    <h1> Things I must do</h1>
    <div ng-repeat="task in tasks track by $index"> 
      {{task}}
      <li> Update task<input ng-model = "task"></li>
    </div>    
  
    <div>
    <form name="myForm">
      Add Task: <input name="myInput" ng-model="newTask" required>
      <button ng-click="addTask(newTask)">Add Task</button>
    </form>
    <p>The input's valid state is:</p>
    <h1>{{myForm.myInput.$valid}}</h1>
    </div>
  </div>
</div>